.banner {
    margin-bottom: 50px;
    position: relative;

    &__bg {
        position: absolute;
        top: 0;
        right: 0;
        width: 65%;
        height: 100%;
        background: $grey;
        z-index: -1;
    }

    &__inner {
        padding: 40px 0;
        
        .banner__img {
            position: absolute;
            top: 0;
            left: 0;
            width: 36%;
            height: 100%;
    
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .banner__body {
            width: 64%;
            margin-left: auto;
            margin-right: -40px;

            .sub-title {
                color:$white;
                margin-bottom: 25px;
                padding: 0 20px;
                font-size: 30px;
                font-weight: 700;
            }

            .banner__list {
                padding-left: 35px;
                margin-bottom: 40px;

                ul {
                    color: $white;
    
                    li {
                        font-size: 16px;
                        line-height: 22px;
                        letter-spacing: 0.05em;
                        list-style-image: url('../img/list-img.png');
                        padding-left: 10px;
    
                        &:not(:last-child){
                            margin-bottom: 25px;
                        }
                    }
                }
            }
    
            .banner__text {
                padding: 0 20px;
                color: $white;
                font-weight: bold;
                font-size: 22px;
                line-height: 28px;
                letter-spacing: 0.05em;
            }
        }
    }
    
    @media screen and (min-width:769px) and (max-width: 1199px){
        
    }

    @media screen and (min-width:320px) and (max-width: 768px){
        margin-bottom: 0;

        .container {
            padding-left: 0;
            padding-right: 0;
        }

        &__inner {
            padding: 0;
            background: $grey;

            .banner__img {
                position: unset;
                width: 100%;
            }
            
            .banner__body {
                width: 100%;
                margin: 0;
                padding: 30px 0;

                .sub-title {
                    font-size: 25px;
                }

                .banner__list {
                    ul {
                        li {
                            font-size: 14px;
                        }
                    }
                }

                .banner__text {
                    font-size: 16px;
                    line-height: 20px;
                }
            }
        }
    }
}