.header {
    width: 100%;
    position: relative;

    &::before {
        content: '';
        display: block;
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 30%;
        height: 12px;
        background: $yellow;
    }

    &-bg-menu {
        background: url(../img/bg-menu.png) no-repeat;
        background-size: cover;
        position: absolute;
        width: 59%;
        height: 100%;
        top: 50px;
        left: 0;
        z-index: -2;
    }

    &-bg-dark {
        background: $grey;
        position: absolute;
        width: 41%;
        height: 90%;
        top: 0;
        right: 0%;
        z-index: -2;
    }

    
    &__wrap {
        display: flex;
        justify-content: center;
        padding: 0 40px;

        .header__nav {
            flex: 0 0 60%;
            display: flex;
            padding-right: 30px;

            .toggler {
                display: none;
                visibility: hidden;
            }

            .menu {
                display: flex;
                justify-content: space-between;
                width: 100%;
                max-width: 955px;
                padding: 34px 0 0 0;
                margin: 0 auto;
                list-style: none;

                li {

                    a{
                        color: $grey;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 17px;
                        text-align: right;
                        letter-spacing: 0.05em;
                        text-decoration: transparent;
                        transition: $transition-ease-in-out;
                        text-transform: uppercase;

                        &:hover {
                            color: $yellow;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }

        .header__contacts {
            flex: 0 0 40%;
            padding-left: 30px;

            .contacts {
                display: flex;
                align-items: center;
                padding: 24px 0 0 0;
                
                &__tel {
                    margin-right: 20px;

                    a {
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 21px;
                        letter-spacing: 0.05em;
                        color: $yellow;
                        text-decoration: none;

                        
                    }
                }

                &__social {
                    &__link {
                        &:not(:last-child){
                            margin-right: 7px;
                        }
                    }
                }

                &__email {
                    a {
                        font-size: 18px;
                        line-height: 21px;
                        letter-spacing: 0.05em;
                        color: $yellow;
                    }
                }
            }
        }
    }

    &__info {
        display: flex;
        align-items: center;
        position: relative;

        

        &__title {
            padding: 100px 230px 230px 60px;
            font-weight: 700;
            font-size: 40px;
            line-height: 47px;
            letter-spacing: 0.05em;
            color: $grey;
            width: 45%;
        }

        &__img {
            position: absolute;
            top: 0;
            right: 40px;
            z-index: -1;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &__btn {
            bottom: 50%;
            right: 0;
            position: absolute;
        }

        .header-bg-dots {
            background: url(../img/dots.png) no-repeat;
            position: absolute;
            width: 120px;
            height: 200px;
            top: -130px;
            right: 0;
        }
    }
}